.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/

# remove pptx temp files
figures/~$*

# local rendering
_book-local/
**/*.quarto_ipynb
BRA-EUR-guide.html
BRA-EUR-guide_files*

# xx files

xx-*

# Big data files

data-src

# remove tracking of local rendering
*_files/
R/03-traffic_characterization-graphs.R
